{{!-- Call to Action Section --}}
<section class="cta conatiner-fluid py-16 px-8 bg-lightGray">
    <div class="container">
        <div class="bg-white rounded-lg p-8 m-auto w-fit">
            <h3 class="text-center text-gray font-semibold text-4xl font-source">{{t "Smart Land Lord Academy"}}</h3>
            <p class="text-center text-gray my-4">{{t "Subscribe to our newsletter"}}</p>
            <div class="m-auto text-center pb-8">
                <form data-members-form>
                    <input data-members-email type="email" class="email bg-gray w-full md:w-96 p-3 mb-4 md:mb-0 rounded-md md:rounded-tr-none md:rounded-br-none focus:outline-none border border-gray" placeholder="Your email address">
                    <button type="submit" class="bg-primary px-3 py-3 text-white rounded-md md:rounded-tl-none md:rounded-bl-none md:-ml-2 border border-primary w-full md:w-fit">{{t "Subscribe"}}</button>
                </form>
            </div>
        </div>
    </div>
</section>